<h1>{{ person.name }}</h1>
Surname: {{ person.surname }}<br>
Description: {{ person.description }}<br>

<h4>What do u want to do:</h4>

<a href="{{ path('newAddress',{'personId':person.id}) }}">Create Address</a><br>