<ul>
    {% for phone in person.phones %}
        <li>
            <a href="{{ path('modifyPhone',{'phoneId':phone.id, 'personId':person.id}) }}">EDIT</a>
            <a href="{{ path('deletePhone',{'phoneId':phone.id, 'personId':person.id}) }}">DELETE</a>
            <ul>
                <li>Phone number: {{ phone.phoneNumber }}<br></li>
                <li>Type: {{ phone.Type }}<br></li>
            </ul>
        </li>
    {% else %}
        Nothing to show
    {% endfor %}
</ul>